@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* --body-background-color: #000;
    --btn-text-color: #fff;

    --dropdown-background-color: rgba(255, 255, 255, 0.1);

    --error-background-color: rgb(247, 230, 230);
    --error-text-color: rgb(175, 4, 4);

    --para-text-color: rgba(255, 255, 255, 0.7);
    --placeholder-color: rgba(255, 255, 255, 0.3);

    --primary-color: rgb(0, 119, 255);
    --primary-light-color: rgb(38, 139, 255);
    --primary-dark-color: rgb(0, 107, 230); */

    --background-color: 50 50 50; /* black */
    --text-primary: 250 248 241; /* white */ 
    --text-secondary: 	253 185 0; /* yellow */
    --primary-color: 118 208 234; /* blue */
    --secondary-color: 227 45 87; /* red */
    --tertiary-color: 49 10 62; /* purple */
    --quaternary-color: 104 213 151; /* green */

  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
  .bg-demon {
    background-color: red;
  }
  .question-input__text {
    background-color: transparent;
    border: none;
    border-bottom: thin solid var(--placeholder-color);
    color: var(--btn-text-color);
    @apply text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    margin-top: 36px;
    padding-bottom: 8px;
    width: 100%;
  }

  .question-input__text:focus-visible {
    border-bottom: 2px solid var(--btn-text-color);
    outline: none;
  }

  .question-input__text::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
  }

  .question-input__text::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-color);
  }

  @media screen and (max-width: 599px) {
    .question-input__text {
      @apply text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
      margin-top: 32px;
    }
  }

}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus:outline-none !important;
}

.form_input {
  @apply border-0 border-solid border-b-2 rounded-none border-b-gray-200 focus:border-b-slate-950 text-xl xs:text-2xl sm:text-3xl sm:py-2 md:text-4xl md:py-6 mt-2 px-0 !important;
}
.form_select {
  @apply border-0 border-solid border-b-2 rounded-none border-b-gray-200 focus:border-b-slate-950 text-xl xs:text-2xl sm:text-3xl sm:py-2 md:text-4xl md:py-6 mt-2 px-0 !important;
}

.form_heading {
  @apply text-2xl sm:text-3xl sm:py-2 md:text-4xl font-bold text-primary !important;
}

.form_description {
  @apply text-xl sm:text-2xl sm:py-2 md:text-3xl text-slate-600 !important;
}

.form_message {
  @apply text-lg sm:text-xl !important;
}


.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-secondary-foreground !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue-700 !important;
}

.account-form_input {
  @apply border border-secondary  !important;
}
.tab {
  @apply w-full;
}

input[type="text"] {
  @apply text-primary;
}

.bottombar {
  @apply fixed bottom-0 z-10 w-full rounded-t-3xl p-4 backdrop-blur-lg xs:px-7 md:hidden bg-secondary;
}

.bottombar_container {
  @apply flex items-center justify-between gap-3 xs:gap-5;
}

.bottombar_link {
  @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
}

  /* User card */
.user-card {
  @apply flex flex-col justify-between gap-4 rounded-xl bg-secondary p-4 sm:flex-row sm:items-center;
}

.user-card_avatar {
  @apply flex flex-1 items-start justify-start gap-3 sm:items-center;
}

.user-card_btn {
  @apply h-auto min-w-[74px] rounded-lg text-[12px] !important;
}


@import "~@uploadthing/react/styles.css"